:host {
  display: grid;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
  min-height: 100%;
  background-image: url("../../../assets/images/form/workBGedit.jpg");
}
#stepper{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  
}
button[name=robot]{
  margin-bottom: 15px;
}
.row{
  width: 1000px;
}
img {
  width: 80px;
}
input, textarea{
  margin-bottom: 15px;
}
.modal-body{
  width: 1000px;
}
#robotBox{
  background-color: grey;
  padding: 10px;
  border-radius: 15px;
  
}
img[name=clickedTrue]{
  opacity: .5;
}

