<div class="card highlight-card card-small">
    <p>Users</p>
  </div>
  
  <table  style="width:100%">
    <thead>
      <tr> 
          <th>NOMBRE</th>
          <th>SURNAME</th>
          <th>PHONE</th>
          <th>EMAIL</th>
          <th>GENDER</th>
          <th>BIRTHDAY</th>

          <th>EXPERIENCE</th>
          <th>WORK</th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of user">
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.birthday}}</td>
        <td>{{user.experience}}</td>
        <td>{{user.work}}</td>

      </tr>
    </ng-container>
  </tbody>
  </table>
