<div id="formView">
<div class="card highlight-card card-small">
    <input type="text" (keyup)="applyFilter($event)">
</div>
  
  <table  id="formTable" class="center"  style="width:75%" >
    <thead>
      <tr> 
          <th>NAME</th>
          <th>SURNAME</th>
          <th>PHONE</th>
          <th>EMAIL</th>
          <th>GENDER</th>
          <th>BIRTHDAY</th>

          <th>EXPERIENCE</th>
          <th>WORK</th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of user">
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.birthday}}</td>
        <td>{{user.experience}}</td>
        <td>{{user.work}}</td>
<td><button>X</button></td>
      </tr>
    </ng-container>
  </tbody>
  </table>

  
  
  
</div>